html {
  font-size: 8px;
  /* 1rem = 8px */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box {
  clip-path: inset(0.5rem);

}

.back-black {
  background-color: black;
}

.ls-none {
  list-style-type: none;
    
}


@tailwind base;
@tailwind components;
@tailwind utilities;