html {
  font-size: 8px;
  /* 1rem = 8px */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box {
  clip-path: inset(0.5rem);

}

.back-black {
  background-color: black;
}

.ls-none {
  list-style-type: none;
    
}


/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-gray-100;
  }
}

@layer components {
  .button {
    @apply px-4 py-2 rounded-md text-white font-bold hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500;
  }

  .input-group {
    @apply mb-4;
  }

  .label {
    @apply block text-sm font-medium text-gray-700 mb-1;
  }

  .datepicker {
    @apply w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500;
  }
}