#bannar {
  border-radius: 30px !important;
  height: 265px !important ;
  width: 850px !important;
}

#inbannar {
  border-radius: 10px !important;
  background-color: #dee8f1;
  width: 190px !important;
  height: 75px !important;
  margin-left: 30px;
  margin-bottom: 35px;
}

#TodayApp {
  border-radius: 30px !important;
  border: 3px solid #004481;
  margin-bottom: 10px;
}

#calendar {
  border-radius: 30px !important;
  border: 6px solid #004481 !important;
  margin-bottom: 10px !important;
  padding: 20px;
  display: table-cell;
}
